*{
    margin: 0;
    padding: 0;
}
nav{
    background: black;
    padding: 2rem;
}
nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}
nav ul li {
    display: inline;
}
nav ul li a {
    color: white;
    text-decoration: none;
}
main {
    background-color: rgb(135, 158, 8);
}
.image1 img {
    height: 100px;
    width: 100px;
}
body {
    background-color: brown;
}
.newnav nav{
    display: inline-block;
    width: 80%;
}
.newnav2 nav{
    background-image: url(/images/assorti.png);
    width: 10%;
}
.jumper a {
    text-decoration: none;
    position: relative;
    height: 100px;
    margin: 0;
    padding: 0;
    display: grid;
    margin-top: 100%;
    clear: both;
}
.footer{
    background-color: black;
    color: aliceblue;
    text-align: center;
    position: relative;
    overflow: hidden;
    height: 100px;
    margin-top: 700px;
    clear: both;
}
.footer ul li a {
    color: aliceblue;
    text-decoration: none;
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-around;
}